<header>
    <mat-toolbar id="headerTotal">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"[matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon> 
        </button>
        <mat-menu #menu="matMenu" class="menuTendina">
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        <span class="showCase">{{ys.username}}
        </span>
        <span class="example-spacer"></span>
        <button mat-icon-button type="button" [routerLink]="['/favorites']" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <mat-form-field class="searchField" color="accent">
          <input matInput [(ngModel)]="searchValue" type="search" maxlength="27" placeholder="Search your card here..">
          <button matSuffix mat-icon-button aria-label="Search" (click)="onSearch()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </mat-toolbar>
    </header>
      
      