<section class="login">
    <div class="loginShape">
    <div class="formShape">
        <form [formGroup]="Login" (ngSubmit)="onSubmit()">
            <label for="username">Username
                <input type="text" id="username" placeholder="Enter your Username" maxlength="20" formControlName="username" />
            </label>
            <div *ngIf="Login.get('username')?.hasError('pattern')&&Login.get('username')?.touched">
                <p class="errorSmall">Insert a valid username</p>
            </div>
            
            
            <label for="password">Password
                <input type="password" id="password" placeholder="Enter your Password"maxlength="27" formControlName="password"/>
            </label>
            <div *ngIf="Login.get('password')?.invalid&&Login.get('password')?.touched">
                <p class="errorSmall">Insert a valid password</p>
            </div>
            
            <button type="submit">Log In</button>
        </form>
    </div>
</div>
</section>
