<section class="login">
    <div class="loginShape">
    <div class="formShape">
        <form>
            <label for="username">Username
                <input type="text" id="username" placeholder="Enter your Username"/>
            </label>
            
            <label for="password">Password
                <input type="password" id="password" placeholder="Enter your Password"/>
            </label>
            
            <button type="button">Log In</button>
        </form>
    </div>
</div>
</section>
