<section class="login">
    <div class="loginShape">
    <div class="formShape">
        <form [formGroup]="Login" (ngSubmit)="onSubmit()">
           
           <div style="position: relative;"> <label for="username">Username
                <input type="text" id="username" placeholder="Enter your Username" maxlength="20" formControlName="username" />
                <ng-container *ngIf="Login.get('username')?.hasError('pattern')&&Login.get('username')?.touched||Login.get('username')?.touched&&Login.get('username')?.invalid">
                    <span class="errorSmall">Insert a valid username</span>
                </ng-container>
            </label>
            
        </div>
            
        <div style="position: relative;"> 
            <label for="password">Password
                <input type="password" id="password" placeholder="Enter your Password"maxlength="27" formControlName="password"/>
                <ng-container *ngIf="Login.get('password')?.invalid&&Login.get('password')?.touched||Login.get('password')?.touched&&Login.get('password')?.invalid">
                    <span class="errorSmall">Insert a valid password</span>
                </ng-container>
            </label>  
        </div> 
        <div *ngIf="!Login.valid">
            <button type="submit" style="background-color: rgb(96, 92, 92) !important; cursor:not-allowed;">Log In</button>
        </div>
        <div *ngIf="Login.valid">
            <button type="submit">Log In</button>
        </div>
        <div *ngIf="!loginValid">
        <span class="wrongCredentials">Wrong credentials</span>
    </div>
        </form>
    </div>
</div>
</section>
