<mat-card *ngIf="dataCard" id="cardContainer">
   <div class="headerCard">
    <mat-card-header>
      <mat-card-title>{{ dataCard.data[0].name }}</mat-card-title>
      <mat-card-subtitle>{{ dataCard.data[0].type }}</mat-card-subtitle>
    </mat-card-header>
</div>
<div class="columnsContainer">
    <div class="column1">
    <img mat-card-image [src]="dataCard.data[0].card_images[0].image_url" alt="Card Image">
</div>
<div class="column2">
  <div class="tipo">
    <p>Attribute: {{dataCard.data[0].attribute}}</p>
    <p>Level: {{dataCard.data[0].level}}</p>
  </div>
  <div class="AtkDef">
    <p>ATK: {{dataCard.data[0].atk}}</p>
    <p>DEF: {{dataCard.data[0].def}}</p>
  </div>
    <mat-card-content>
      <p>{{ dataCard.data[0].desc }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>View More</button>
    </mat-card-actions>
</div>
</div>
  </mat-card>
  