<mat-card *ngIf="dataCard" id="cardContainer">
   <div class="headerCard">
    <mat-card-header>
      <mat-card-title>{{ dataCard.data[0].name }}</mat-card-title>
      <mat-card-subtitle [ngClass]="getType(dataCard.data[0].type)">{{ dataCard.data[0].type }}</mat-card-subtitle>
      <ng-container *ngIf="showAddToFavorites">
      <button type="button" class="addToFavoritesMobile" (click)="addToFav()">Add To favorites</button>
    </ng-container>
    </mat-card-header>
</div>
<div class="columnsContainer">
    <div class="column1">
    <img mat-card-image [src]="dataCard.data[0].card_images[0].image_url" alt="Card Image">
</div>
<div class="column2">
  <div class="tipo" *ngIf="dataCard.data[0].atk">
    <p>{{dataCard.data[0].attribute}}</p>
    <ng-container *ngIf="dataCard.data[0].type !== 'Link Monster'">
    <p>Level: {{dataCard.data[0].level}}</p>
    <p>{{dataCard.data[0].typeline}}</p>
  </ng-container>
  <ng-container *ngIf="dataCard.data[0].type === 'Link Monster'">
  <p>LINK - {{dataCard.data[0].linkval}}</p>
  </ng-container>
  </div>
  <div class="AtkDef" *ngIf="dataCard.data[0].atk">
    <p>ATK: {{dataCard.data[0].atk}}</p>
    <ng-container *ngIf="dataCard.data[0].type !== 'Link Monster'">
    <p>DEF: {{dataCard.data[0].def}}</p>
  </ng-container>
  </div>
  <div class="race" *ngIf="!dataCard.data[0].atk">
    <p>Race: {{dataCard.data[0].race}}</p>
  </div>
    <mat-card-content>
      <p>{{ dataCard.data[0].desc }}</p>
    </mat-card-content>
    <mat-card-actions>
      <ng-container *ngIf="!showMore">
      <button mat-button (click)="viewMore()">Show More</button>
    </ng-container>
    <ng-container *ngIf="showMore">
      <button mat-button (click)="viewMore()">Show Less</button>
    </ng-container>
    </mat-card-actions>
    <mat-card-content *ngIf="showMore" class="showMore">
    <a [href]="dataCard.data[0].ygoprodeck_url" target="_blank"><p>YugiPro Link </p></a>
      <p>Amazon Price: {{dataCard.data[0].card_prices[0].amazon_price}} $</p>
      <p>CardMarket Price: {{dataCard.data[0].card_prices[0].cardmarket_price}} $</p>
      <p>Ebay Price: {{dataCard.data[0].card_prices[0].ebay_price}} $</p>
    </mat-card-content>

</div>
</div>
  </mat-card>
  