@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%; 
  box-sizing: border-box;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

ul{
  padding: 0;
  margin: 0;
}

#cardContainer {
    margin: 20px auto;
    width: 100%;
    max-width: 720px;
    min-width: 128px;
    overflow: hidden;
}

.headerCard {
    width: 100%;
    display: flex;            
    flex-direction: column;   
    align-items: center;      
    padding-top: 5px;            
    padding-bottom: 10px;
}

mat-card-subtitle{
    text-align: center;
}


.columnsContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column1, .column2{
    flex: 1;
    padding: 10px;
}

#cardContainer img {
    width: 100%;
    height: auto; 
}

.AtkDef, .tipo, .race{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 16px;
}

.tipo, .race{
    margin-top: 20px;
}

/* Searchbar */

.searchField {
    position: absolute;
    z-index: 10;
    left: 50%; 
    transform: translateX(-50%); /* Sposta l'elemento indietro della sua larghezza */
    top:5px;
    width: 320px;
}

/* Cuore */
  .favorite-icon {
    margin-left: auto;
  }

/* Colori per tipo */
.type-effectMonster {
    color: #ffcc00 !important;
  }
  
  .type-normalMonster {
    color: #ffff99 !important;
  }
  
  .type-fusionMonster {
    color: #800080 !important;
  }
  
  .type-linkMonster {
    color: #0000ff !important;
  }
  
  .type-xyzMonster {
    color: #000000 !important;
  }
  
  .type-ritualMonster {
    color: #00ccff !important;
  }
  
  .type-spell {
    color: #00a000 !important;
  }
  
  .type-trap {
    color: #ff33cc !important;
  }
  
  .type-white {
    color: #ffffff !important;
  }
  
  /* Card List */
  .container-cards{
    margin: 0 100px;
  }

  .container-cards ul li{
   margin-top: 50px;
   z-index: 0;
  }

   .container-cards ul li:hover{
    transform: scale(1.1);
    transition: 0.8s;
   }
  
  .buttonList{
    display: block;
    background-color: transparent;
    width: 100px;
   height: 50px;
  margin: 20px auto;
  border: none;
   }

   .buttonList:hover{
    width: 120px;
    height: 70px;
    font-size: larger;
    transition: 0.5s;
   }
 
/* Show More  */
.showMore p{
  text-align: center;
}

/* hover img */
.column1 img:hover{
transform:scale(1.18);
margin-left: 100px;
transition: 1s;
z-index: 100;
}

.column1 img:not(:hover) {
  transform: scale(1);           
  margin-left: 0;                
  z-index: 1;         
  transition: 1s; 
}


/* Media query */
@media (max-width: 600px) {

    #cardContainer .columnsContainer {
        flex-direction: column; 
    }
    #cardContainer .columnsContainer .column1, .column2{
        flex: none;
        width: 80%;
        margin: 0 auto;
    }

   #cardContainer .headerCard {
    display: none;
   }

   .column1 img:hover{
    transform:scale(1);
    margin-left: 0;
    }
    
}
