@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%; 
  box-sizing: border-box;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}


.backgroundYu{
  position: fixed;
  z-index: -5;
  width: 100%; height: 100%;
}

/*  Home   */

#videoHome{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 13%);
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(255, 238, 0, 0.8), 0 0 20px rgba(255, 238, 0, 0.6), 0 0 30px rgba(255, 238, 0, 0.4);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 238, 0, 1), 0 0 30px rgba(255, 238, 0, 0.8), 0 0 40px rgba(255, 238, 0, 0.6);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 238, 0, 0.8), 0 0 20px rgba(255, 238, 0, 0.6), 0 0 30px rgba(255, 238, 0, 0.4);
  }
}

.titleHome {
  color: rgba(205, 14, 14, 0.816);  
  text-align: center;
  padding-top: 50px;
  font-family: yugiohMatrix2 !important;
  font-size: 8.5rem !important;
  animation: glow 2s infinite alternate;
}
/* Header */ 
#headerTotal{
  background-color:transparent;
  color: yellow;
}

ul{
  padding: 0;
  margin: 0;
}



/*  Card  */
#cardContainer {
  color: white;
    margin: 20px auto;
    width: 100%;
    max-width: 720px;
    min-width: 128px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.616);
}

.headerCard {
    width: 100%;
    display: flex;            
    flex-direction: column;   
    align-items: center;      
    padding-top: 5px;            
    padding-bottom: 10px;
    position: relative;

}

.headerCard button{
  display: block;
  position: absolute;
  left: 80%;
  top: 20px;
}

.nameDet{
  font-family: yugiohMatrix2;
  font-size: 1.56em;
}



mat-card-subtitle{
  position: relative;
    text-align: center;
    bottom: 10px;
}


.columnsContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column1, .column2{
    flex: 1;
    padding: 10px;
}

#cardContainer img {
    width: 100%;
    height: auto; 
    position: relative;
    bottom:15px;
}

.AtkDef, .tipo, .race{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 16px;
    font-family: yugiohMatrix2;
    font-size: 1.5em;
}

.tipo, .race{
    margin-top: 20px;
}

/* Searchbar */
.searchField {
    position: absolute;
    z-index: 10;
    left: 50%; 
    transform: translateX(-50%); /* Sposta l'elemento indietro della sua larghezza */
    top:5px;
    width: 320px;
    color: rgba(205, 14, 14, 0.67);  
}


/* Cuore */
  .favorite-icon {
    margin-left: auto;
  }

/* Colori per tipo */
.type-effectMonster {
    color: #ffcc00 !important;
  }
  
  .type-normalMonster {
    color: #ffff99 !important;
  }
  
  .type-fusionMonster {
    color: #800080 !important;
  }
  
  .type-linkMonster {
    color: #0000ff !important;
  }
  
  .type-xyzMonster {
    color: #000000 !important;
  }
  
  .type-ritualMonster {
    color: #00ccff !important;
  }
  
  .type-spell {
    color: #00a000 !important;
  }
  
  .type-trap {
    color: #ff33cc !important;
  }
  
  .type-white {
    color: #ffffff !important;
  }
  
  /* Card List */
  .container-cards{
    margin: 0 100px;
  }

  .container-cards ul li{
   margin-top: 50px;
   z-index: 0;
  }

   .container-cards ul li:hover{
    transform: scale(1.1);
    transition: 0.8s;
   }
  
  .buttonList{
    display: block;
    background-color: transparent;
    width: 100px;
   height: 50px;
  margin: 20px auto;
  border: none;
   }

   .buttonList:hover{
    width: 120px;
    height: 70px;
    font-size: larger;
    transition: 0.5s;
   }

 .desc{
font-family: yugiohItalic;
font-size: 1.1em;
 }


   /* add/remove favorites */
   .addToFavorites{
    background: linear-gradient(90deg, #d30000, #ff7d63);
    color: #ffffff;
    width: 130px;
    font-weight: bold;
    padding: 10px 2px;
    font-size: 0.8em;
    border: 2px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .removeFromFavorites{
    background: linear-gradient(90deg, #000000, #797979);
    color: #ffffff;
    width: 130px;
    font-weight: bold;
    padding: 10px 2px;
    font-size: 0.8em;
    border: 2px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

/* Show More  */
.showMore p{
  text-align: center;
}

/* hover img */
.column1 img:hover{
transform:scale(1.18);
margin-left: 100px;
transition: 1s;
z-index: 100;
}

.column1 img:not(:hover) {
  transform: scale(1);           
  margin-left: 0;                
  z-index: 1;         
  transition: 1s; 
}


/* Favorites */

.favTitle{
margin-top: 40px;
color: rgb(255, 238, 0);  
font-family: yugiohMatrix2;
font-size: 1.56em;
}

.favTitle p{
  font-family: yugiohMatrix2;
  font-size: 3em;
 text-align: center;
}

.NofavTitle{
  margin-top: 40px;
  color: rgb(255, 238, 0);  
  font-family: yugiohMatrix2;
  font-size: 1.56em;
  }
  
  .NofavTitle p{
    font-family: yugiohMatrix2;
    font-size: 2em;
   text-align: center;
  }

/* LOGIN */
.login{
 width: 100%;
 height: auto;
 background-color: #0000ff;
 position: absolute;
 z-index: 998;
  
}

.login .loginShape{
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login p{
  font-size: 4em;
  color: #ffcc00;
}

/* FONTS */
@font-face {
  font-family: yugiohItalic;
  src: url('../src/assets/fonts/yugiohItalic.ttf');  /* src\assets\fonts\yugiohItalic.ttf */
}

@font-face {
  font-family: yugiohMatrix2;
  src: url('../src/assets/fonts/yugiohMatrix2.ttf');  /* src\assets\fonts\yugiohItalic.ttf */
}



/* Media query */
@media (max-width: 600px) {

    #cardContainer .columnsContainer {
        flex-direction: column; 
    }
    #cardContainer .columnsContainer .column1, .column2{
        flex: none;
        width: 80%;
        margin: 0 auto;
    }

   .column1 img:hover{
    transform:scale(1);
    margin-left: 0;
    }

    .headerCard button{
width: 40px;
    }

    .textFav{
      display:none;
    }

    #videoHome{
      display: none;
    }

    .titleHome {
      color: rgb(205, 14, 14);  
      line-height: 1.2;
  }

  .showCase{
    display: none;
  }
  


}
